/* Set the body overflow on the x-axis to hidden, to prevent scrollbar on bottom */
body{
  overflow-x: hidden;
}
/* This needs to be overridden so that the progress bar works with our code logic */
@keyframes progress-bar-stripes {
  0% {
    background-position-x: 100rem;
  }
}
/* This adds a nice ease-in-out transition to our progress bar so that it animates nicely, and then there is some logic for alignment */
.progress-bar-striped {
  width:0%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-image: url("../images/progress_bar.png");
  justify-self: flex-end;
}
/* Override the default .progress-bar-animated class with a new animation length, using 100 seconds as the time. */
.progress-bar-animated {
  animation: 100s linear infinite progress-bar-stripes;
}
/* Set the countdown text to nowrap so it stays inline even though the bar shrinks, and add a bit of padding to the right. */
#countdown {
  white-space: nowrap;
  padding-right: 1.5vw;
}
/* Add a responsive ruleset to handle the time text offset, and override the bootstrap css margin-right*/
@media only screen and (max-width: 992px) {
    #countdown{
     padding-right: 3vw;
     margin-right: -45% !important;
   }

}
@media only screen and (max-width: 512px) {
  #countdown{
   padding-right: 4vw;
   margin-right: -74% !important;
 }

}